input {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid var(--primary-dark);
  outline: none;
}

/*card*/
/*form*/
/*button*/

/* extra small tablet */
@media screen and (max-width: 620px) {
  /* .section-link {
    width: 100%;
    text-align: center;
    height: 50vh;
    background: var(--grey-light);
    padding: 10px;
    transform: translateX(-50%);
  }

  .section-link li {
    margin: 50px;
    cursor: pointer;
  }
  .section-link a {
    color: var(--grey-dark);
  } */
}
/* small tablet */
@media screen and (min-width: 620px) {
}
/* large tablet */
@media screen and (min-width: 960px) {
}
/* desktop styles */
@media screen and (min-width: 1200px) {
}
/* lg desktop styles */
@media screen and (min-width: 1600px) {
}
