/* variables */
:root {
  --primary: #408af8;
  --primary-dark: #6772e5;
  --primary-light: #8bb7e6;

  --grey-dark: #343434;
  --grey-light: #f7f7f7;
}
/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* base styled */
html {
  font-family: 'Poppins', sans-serif;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
nav {
  background: black;
}
input {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid var(--primary-dark);
  outline: none;
}

/*fonts*/
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

/*card*/
/*form*/
/*button*/
.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}
.button:hover {
  color: white;
  background: var(--primary);
}

/* extra small tablet */
@media screen and (max-width: 620px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
  }
  nav li {
    display: none;
  }
  .menu img {
    width: 100%;
    height: 3vh;
  }
  .landing-page {
    background: var(--grey-dark);
    height: 90vh;
  }
  .section-header {
    z-index: 10;
  }
  /* .section-link {
    width: 100%;
    text-align: center;
    height: 50vh;
    background: var(--grey-light);
    padding: 10px;
    transform: translateX(-50%);
  }

  .section-link li {
    margin: 50px;
    cursor: pointer;
  }
  .section-link a {
    color: var(--grey-dark);
  } */
  .welcome-img img {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 50vh;
    transform: scale(2.5) translateX(-50px) translateY(-200px);
    z-index: ;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .welcome-text {
    color: white;
  }
  .welcome-text h2 {
    padding: 10px;
    grid-column: 2/7;
    z-index: 5;
  }
  .welcome-text p {
    grid-column: 2/7;
    z-index: 5;
  }
  .welcome-text .button {
    grid-column: 2/4;
    z-index: 5;
    color: white;
    width: 80px;

    margin-top: 60px;
  }

  .section-brand img {
    width: 100%;
  }
  .content img {
    width: 100%;
  }
}
/* small tablet */
@media screen and (min-width: 620px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .welcome-text {
  }
}
/* large tablet */
@media screen and (min-width: 960px) {
}
/* desktop styles */
@media screen and (min-width: 1200px) {
}
/* lg desktop styles */
@media screen and (min-width: 1600px) {
}
