*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: white;
  overflow-x: hidden;
}

p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.site-nav {
  background: black;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.site-nav li {
  display: none;
}

.menu img {
  width: 100%;
  height: 3vh;
  cursor: pointer;
}

.rotate {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

/* small tablet */
/* large tablet */
/*  desktop styles */
/* large desktop styles */
nav {
  background: black;
}

.landing-page {
  background: #343434;
  height: 95vh;
}

.header_bg {
  overflow: hidden;
  height: 100%;
  position: absolute;
  width: 250%;
  top: 9%;
  left: -110%;
}

.header_text {
  color: white;
}

.header_text-main {
  z-index: 5;
  font-size: 3.6rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  margin-top: 50px;
}

.header_text-sub {
  margin-top: 8px;
  z-index: 5;
  font-size: 1.8rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
}

.header .btn {
  background-color: #408af8;
  font-size: 1.6rem;
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  position: absolute;
  top: 85%;
  left: 30%;
  z-index: 10;
}

.links {
  position: absolute;
  width: 30%;
  right: -30%;
  top: 8%;
  height: 95vh;
  z-index: 2;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-align: center;
}

.links a {
  margin: 15px 0;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-animation: hide 0.5s forwards ease;
          animation: hide 0.5s forwards ease;
}

.links a :hover {
  color: #408af8;
}

.links.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.links.active a {
  -webkit-animation: appear 0.5s forwards ease var(--i);
          animation: appear 0.5s forwards ease var(--i);
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

/* small tablet */
@media screen and (min-width: 620px) {
  .header_bg {
    height: 95%;
    left: -90%;
  }
  .header_text-main {
    z-index: 5;
    font-size: 4.2rem;
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    margin-top: 50px;
  }
  .header_text-sub {
    margin-top: 8px;
    z-index: 5;
    font-size: 2.4rem;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .header .btn {
    background-color: #408af8;
    font-size: 1.6rem;
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    position: absolute;
    top: 85%;
    left: 30%;
    z-index: 5;
  }
}

/* large tablet */
/*  desktop styles */
/* large desktop styles */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--blue {
  background-color: #408af8;
  color: #fff;
}

.btn--blue::after {
  background-color: #fff;
}

.btn--white {
  background-color: #fff;
  color: #6b7c93;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #408af8;
  color: #fff;
}

.btn--green::after {
  background-color: #408af8;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--animated {
  -webkit-animation: moveInBottom 2s ease-out 0.5s;
          animation: moveInBottom 2s ease-out 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  color: #408af8;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #408af8;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #408af8;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}

.card__side {
  background-color: #408af8;
  color: #0a0707;
  font-size: 2rem;
  height: 50rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  width: 80%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.card__side--front {
  background: white;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__side--front h4 {
  color: #408af8;
  font-size: 3rem;
  margin: 3rem;
}

.card__side--front ul {
  margin-bottom: 2rem;
}

.card__side--front li {
  padding: 0.5rem;
  line-height: 2;
}

.card__side--back {
  background: #408af8;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 50px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__details li {
  list-style: none;
}

.card__cta {
  height: 100%;
  padding: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__cta a {
  margin-top: 5rem;
}

.card__heading-span--3 {
  color: #ffc641;
}

.card__heading-span--3 .card__price-best {
  color: #ffc641;
  position: relative;
}

.best::after {
  content: 'Recommend!';
  position: absolute;
  top: 25%;
  right: 20px;
  width: 120px;
  height: 30px;
  color: #fafafa;
  background-color: #ffc641;
  font-size: 1.5rem;
  border-radius: 50px;
  padding: 2px 4px;
}

.section-signin_form {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  padding: 30px 40px;
  margin: 0 100px;
}

.section-signin_form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.section-signin_form button {
  cursor: pointer;
  background-color: #408af8;
  border: 2px solid #408af8;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  outline: none;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  color: #e74c3c;
  left: 0;
  bottom: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.section-brand_slogan-box1 h2 {
  text-transform: uppercase;
  margin: 20px;
  font-size: 28px;
}

.section-brand_slogan-box1 img {
  width: 150%;
  height: 40vh;
  overflow: hidden;
}

.section-brand_slogan-box2--1, .section-brand_slogan-box2--2, .section-brand_slogan-box2--3 {
  color: cornflowerblue;
  font-size: 2rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  margin-bottom: 10px;
}

.section-brand p {
  color: #424242;
  font-size: 1.2rem;
}

.section-support {
  background-color: cornflowerblue;
  height: 100vh;
  margin-top: 32px;
  position: relative;
  z-index: 5;
}

.section-support img {
  height: 60vh;
  position: absolute;
  top: 40%;
  left: -10%;
}

.support-topic {
  z-index: 1;
  font-size: 5.6rem;
  text-transform: uppercase;
  color: white;
  padding: 1rem;
}

/*extra small tablet */
/* small tablet */
/* large tablet */
/*  desktop styles */
/* large desktop styles */
.section-product {
  background: white;
}

.section-product h2 {
  font-size: 6rem;
  text-transform: uppercase;
}

.card__price-only,
.card__price-value {
  color: white;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.card_1,
.card_2,
.card_3 {
  margin: 15px 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
}

.section-signin {
  padding: 10px 20px;
}

.section-signin_txt {
  margin-bottom: 20px;
}

.section-signin_txt h2 {
  color: #3ecf8e;
}

.section-signin_form {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

/*extra small tablet */
/* small tablet */
/* large tablet */
/*  desktop styles */
/* large desktop styles */
.footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #eee;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_nav a {
  color: #343434;
}

.footer_copyright {
  padding: 10px;
  color: #343434;
}

/*extra small tablet */
/* small tablet */
/* large tablet */
/*  desktop styles */
/* large desktop styles */
/*# sourceMappingURL=main.css.map */