.site-nav {
  background: black;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  position: sticky;
  top: 0;
  ul {
    display: none;
  }
}
.menu {
  img {
    width: 100%;
    height: 3vh;
    cursor: pointer;
  }
}
.rotate {
  transition: all 0.6s ease;
  transform: rotate(270deg);
}

/* small tablet */
@media screen and (min-width: 620px) {
  .site-nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        margin: 0 20px;
      }
      .nav-text {
        font-size: 1.6rem;
        color: rgb(255, 255, 255);
      }
    }
  }
}
/* large tablet */
@media screen and (min-width: 960px) {
}

/*  desktop styles */
@media screen and (min-width: 1260px) {
}
/* large desktop styles */
@media screen and (min-width: 1560px) {
}

nav {
  background: black;
}
