.section-product {
  background: white;

  & h2 {
    font-size: 6rem;
    text-transform: uppercase;
  }
}
.card__price-only,
.card__price-value {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.card_1,
.card_2,
.card_3 {
  margin: 15px 0;
  grid-column: 2/12;
}

.section-signin {
  padding: 10px 20px;
  &_txt {
    margin-bottom: 20px;
    & h2 {
      color: #3ecf8e;
    }
  }
  &_form {
    transform: translateX(-60px);
  }
}
/*extra small tablet */
@media screen and (max-width: 620px) {
}
/* small tablet */
@media screen and (min-width: 620px) {
}
/* large tablet */
@media screen and (min-width: 960px) {
}
/*  desktop styles */
@media screen and (min-width: 1260px) {
}
/* large desktop styles */
@media screen and (min-width: 1560px) {
}
