.section-product {
  background: white;
  text-align: right;
  & h2 {
    font-size: 6rem;
    text-transform: uppercase;
  }
}
.card__price-only,
.card__price-value {
  color: white;
}
.grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}
.card_1,
.card_2,
.card_3 {
  margin: 15px 0;
  grid-column: 2/13;
}

.section-signin {
  padding: 10px 20px;
  &_txt {
    margin-bottom: 20px;
    font-size: 1.8rem;
    & h2 {
      color: #3ecf8e;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 5rem;
    }
  }
  &_form {
    width: 90vw;
    margin: 0 auto;
  }
}

/* small tablet */
@media screen and (min-width: 620px) {
  .card_1,
  .card_2,
  .card_3 {
    grid-column: 4/11;
  }
  .section-signin_form {
    margin: 20px auto;
    width: 55vw;
  }
}
/* large tablet */
@media screen and (min-width: 960px) {
  .card_1 {
    grid-column: 1/5;
    margin: 5px 20px;
  }
  .card_2 {
    grid-column: 5/9;
    margin: 5px 10px;
  }
  .card_3 {
    grid-column: 9/13;
    margin: 5px 10px;
  }
  .section-signin {
    &_form {
      width: 35vw;
      margin: 0 auto;
    }
  }
}
/*  desktop styles */
@media screen and (min-width: 1260px) {
  .section-signin {
    &_txt {
      font-size: 2.6rem;
    }
    &_form {
      width: 30vw;
      margin: 0 auto;
    }
  }
}
/* large desktop styles */
@media screen and (min-width: 1560px) {
  .card_1 {
    grid-column: 3/6;
    margin: 10px 20px;
  }
  .card_2 {
    grid-column: 6/9;
    margin: 10px 20px;
  }
  .card_3 {
    grid-column: 9/12;
    margin: 10px 20px;
  }
  .section-signin {
    padding: 10px 20px;
    &_txt {
      margin: 50px;
      font-size: 3.2rem;
    }
    &_form {
      width: 25vw;
      margin: 0 auto;
    }
  }
}
