$color-primary: #408af8;
$color-primary-light: #8bb7e6;
$color-primary-dark: #6772e5;

$color-secondary: #3ecf8e;
$color-secondary-light: #ffc641;
$color-secondary-dark: #f48634;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #343434;
$color-grey-dark-2: #777;
$color-grey-dark-3: rgb(75, 75, 75);

$color-grey-light: #f6f9fc;
$color-grey-dark: #6b7c93;
$color-white: #fff;
$color-black: #000;

$success-color: #2ecc71;
$error-color: #e74c3c;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
